*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 1s ease-in-out;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f0f0f0; 
}

@font-face {
    font-family: 'fonte1';
    src: url(../fontes/Bison-Bold\(PersonalUse\).ttf);
}

@font-face {
    font-family: 'fonte3';
    src: url(../fontes/THEBOLDFONT\ 2022.otf);
}


@font-face {
    font-family: 'cinzel1';
    src: url(../fontes/Cinzel-Bold.otf);
}


@font-face {
    font-family: 'madeinfinity1';
    src: url(../fontes/MADEINFINITY\ PERSONALUSE-Light.otf);
}

@font-face {
    font-family: 'madeinfinity2';
    src: url(../fontes/MADEINFINITY\ PERSONALUSE-Light.otf);
}

@font-face {
    font-family: 'roboto1';
    src: url(../fontes/Roboto-CondensedItalic.ttf);
}

@font-face {
    font-family: 'roboto2';
    src: url(../fontes/Roboto-Regular.ttf);
}


@font-face {
    font-family: 'apple';
    src: url(../fontes/AppleGaramond-Light.ttf);
}

.navegacao1{
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    align-items: center;
    background-color: #063395;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;


    p:first-of-type {
        margin-right: 20px;
      }
}

:root{
    --corfundo: #fd8b33;
    --corhover: #f1a572;
    --corprimaria:#fff;
}

.navegacaoprincipal{
height: 65px;
background-color: var(--corfundo);
display: flex;
justify-content: space-between;
padding-left: 25px;
padding-right: 15px;
align-items: center;
position: fixed;
top: 45px;
width: 100%;
z-index: 100;

.logo{
    // border: 1px solid red;
    img{
        width: 85%;
    }
}
}

.navegacaoprincipal ul{
    list-style-type: none;
    padding: 0;
    background-color: var(--corfundo);
    // border: 1px solid red;

}

.navegacaoprincipal ul li{
    display: inline;
    position: relative;
    margin-right: 55px;

}

.navegacaoprincipal ul li a{
    color: var(--corprimaria);
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    transition: background .3s;
}

.navegacaoprincipal ul li a:hover{
    background-color: var(--corhover);
}

.navegacaoprincipal ul ul {
    display: block;
    position: absolute;
    left: 0;
    top: 44px;
    opacity: 0;
}



.navegacaoprincipal ul li:hover ul {
    display: block;
    opacity: 1;
}

.navegacaoprincipal ul ul {
    width: 150px;
}



.navegacaoprincipal ul ul li a{
    display: block;
    padding: 5px;
}




// HEADERRRR

.header{
    height:85vh;
    background-image: url(../IMG/capateste.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .container{
    height: 100%;
    width: 65%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


        .slogan{
         width: 35rem;
         height: 25rem;

        h1{
            font-family: 'fonte1';
           font-size: 4.5rem;
           color: #f0f0f0;
           text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        }
    }

    @keyframes pulsar {
        0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.05);
          }
          100% {
            transform: scale(1);
          }
      }
    
    button {
        height: 60px;
        width: 200px;
        margin-top: 35px;
        padding: 5px;
        border-radius: 5px;
        background-color: #EE6800;
        font-size: 14px;
        border: none;
        animation: pulsar 2s infinite;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
    }



}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburguer {
    width: 25px;
    height: 3px;
    background-color: var(--corprimaria);
    margin: 5px 0;
}



//////////////sessao 1 ------- quem somos

.quemsomos{
    //   border: 1px solid red;
      height: 65vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../IMG/capaquemsomos2.png);
      background-size: 30%;
      background-repeat: no-repeat;
      .caixatxt{
          width: 45%;
          height: 65%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        //   border: 1px solid red;
          padding: 25px;
          .title{
          //  border: 1px solid rgb(102, 255, 0);
           text-align: center;
           margin-top: 15px;
          h1{
              font-size: 65px;
              color: #EE6800;
              font-family: 'fonte1';
             text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  
          }
  
       
          }
           .txt{
        //   border: 1px solid rgb(255, 12, 255);
          height: 400px;
        //   padding: 25px;
  
          p{
              font-size: 18px;
          }
          }
      }

  }
  
  
  


/////////////////interacao
/// 

  
.interacao {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #EE6800;
    .caixagrande{
  //  border: 1px solid red;
    display: flex;
    width: 35%;
    }

    .box{
    //border: 1px solid red;
    height: 10rem;
    width: 10rem;
    margin: 30px;

    a{
         list-style-type: none;
        //   border: 1px solid red;
         height: 100%;
        color: #063395;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        i{
            font-size: 6rem;
        }
    }

    }.box:hover{
        background-color: #010e2b;
        border-radius: 15px;
    }

  }
  .interacao .box {
    position: relative;
  }

.interacao .box::after {
    content: attr(data-tooltip);
    position: absolute;
    margin-top: 15px;
    width: 220px;
    height: 35px;
    background-color: #8f3e00;
    color: #fff;
    display: none;
    text-align: center;
    line-height: 35px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden; /* Adicionado overflow */
}

.interacao .box:hover::after {
    display: block;
}

////////////////confira tamebm

.confiratambem{
    // border: 1px solid red;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../IMG/confiratambem2.png);
    // background-color: #ffe59d;
    //background-repeat: no-repeat;


    .container{
        // border: 1px solid red;
        height: 75%;
        width: 75%;

        #carouselExampleControls{
        // border: 1px solid red;
        height: 100%;
        width: 100%;

        img{
            width:100%;
            height: 698px;
        }
        }
    }




}








/////////////////rodape
.svg{
    position: relative;
    top: 25px;
  //  background-color: #FFDFC1;
}
.rodape{
     //border: 1px solid red;
     height: 55vh;
     width: 100%;
     background-color: #ee6800;



    .container{
      //   border: 1px solid rgb(4, 0, 255);
         width: 1000%;
        height: 100%;
         display: flex;
        justify-content: space-around;
        align-items: center;
         margin-bottom: 50px;
         flex-direction: column;



     .container-dois{
        font-size: 16px;
        width: 100%;
        height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 31, 31);

    }


    .container-um{
        display: flex;
        justify-content: space-around;
        width: 100%;

    

    .box{
    //border: 1px solid red;
    height: 250px;
    padding: 15px;

    .title{
        h3{
        //    color: #063395;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }
    p{
        color: #f0f0f0;
        margin-bottom: 5px;
        a {
            text-decoration: none;
            color: #d4d4d4;
        }
    }a:hover {
        color: #010e2b;
    }
    
    a:hover::after {
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        background-color: #063395;
        animation: link 0.5s forwards;
    }
    
    @keyframes link {
        0% {
            width: 0%;
        }
        100% {
            width: 70%;
        }
    }
    }
    }
}
}


[data-aos] {
    body[data-aos-easing="new-easing"] &,
    &[data-aos][data-aos-easing="new-easing"] {
      transition-timing-function: cubic-bezier(.450, .450, .950, .950);
    }
  }









  /* Estilos para o menu responsivo */
@media screen and (max-width: 768px) {
    body { overflow-x: hidden; }

    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--corfundo);
        padding: 10px;
    }

    .menu.show {
        display: block;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu a {
        display: block;
        padding: 5px;
    }




// HEADERRRR

.header{
    height:85vh;
    background-image: url(../IMG/responsivo/capainicial.png);
    width: 100%;
    .container{
    height: 100%;
    width: 100%;
    button {
        height: 85px;
        width: 230px;
        font-size: 16px;
    }
    }
}


/////confiratabem


.confiratambem{
    height:120vh;
    background-image: url(../IMG/cftb.png);
    background-repeat: no-repeat;
    .container{
        height: 75%;
        width: 100%;
    }

    .carousel-control-next-icon{
     position: relative;
    //border: 1px solid red;
    top: -112px;
    width: 25px;
    padding: 15px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.507);
    }
    .carousel-control-prev-icon {
         position: relative;
        top: -112px;
        width: 25px;
        padding: 15px;
        height: 25px;
        background-color: rgba(0, 0, 0, 0.507);

    }

}

///interacao


/////////////////interacao
/// 

  
.interacao {
    width: 100%;
    height: 750px;
    .caixagrande{
          display: flex;
          flex-direction: column;
          width: 35%;
          }
    }



//////////////sessao 1 ------- quem somos

.quemsomos{
    //   border: 1px solid red;
      height: 72vh;
      background-image: url(../IMG/quemsomos768.png);
      background-size: 100%;
      .caixatxt{
          width: 95%;
          height: 50%;
          padding: 25px;
          margin-bottom: 100px;

      }

  }



/////////////////rodape
.svg{
    position: relative;
    top: 25px;
}
.rodape{
     height: 95vh;
    .container{
    .container-um{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
    .box{
    height: 240px;
    padding: 15px;
    } }}}


  }



  ///////////////////////////NOSSA LINHA PASTA NOSSA LINHA
  .container-nossalinha {
    width: 100%;
    // border: 1px solid red;
    position: relative;
    top: 85px;
    height: 170vh;
}

.caixa-principal-box{
    position: relative;
    display: inline-block;
    overflow: hidden;
    // border: 1px solid blue;
    padding: 35px;
    width: 100%;
    height:160vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;


    .title{
        // border: 1px solid red;
        width: 100%;
        text-align: center;

        h1{
            font-size:3rem;
            color: #00143f;
            font-family: 'roboto2';
        }
    }
}

.container-nossalinha .sozinho {
    display: flex;
    // border: 1px solid red;
    width: 100%;
    height:45%;
    justify-content: space-around;
    align-items: center;

}

.container-nossalinha .image-container {
    position: relative;
    overflow: hidden;
    width: 55%;
    height: 45%;
}

.sozinho .image-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 100%;
    padding: 15px;
}

.container-nossalinha .image-container img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.container-nossalinha .image-container:hover img {
    filter: brightness(40%);
    transform: scale(1.1);
    border-radius: 5px;

}

.container-nossalinha .image-container:hover .overlay {
    display: block;
}

.container-nossalinha .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    padding-top: 30%;
}

.container-nossalinha .overlay h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.container-nossalinha .overlay a {
    font-size: 18px;
    color: #ee6800;
    text-decoration: none;
    border-bottom: 1px solid #ee6800;

}


///////////////NOSSA LINHA PEVEDUTO
.box-containerPeveduto{
    //  border: 1px solid red;
    position: relative;
    top: 110px;
    height: 100vh;


    .caixatitleProduto{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 20rem;
        background-image: url(../IMG/capaproduto.jpg);
        background-size: cover;

        h1{
            color: #fff;
            text-shadow: -5px 2px 9px black;
            font-size: 3rem;
        }
    }
    .apresentacao {
        width: 100%;
        height: 30vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .apresentacao .accordion {
        width: 50%;
      }
      
      .apresentacao .card {
        border: none;
      }
      
      .apresentacao .card-header {
        background: transparent;
        border: none;
      }
      
      .apresentacao .custom-button {
        background-color: blue;
        color: white;
      }
      
      .apresentacao .custom-button:hover {
        background-color: blue;
        color: white;
      }
      
      .apresentacao .custom-button:focus {
        background-color: blue;
        color: white;
      }
      
      
    .pevehd{
        //border: 1px solid red;
        height: 100vh;
        padding: 25px;

        .title{
          //  border: 1px solid green;
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
            width: 50%;
            h1{
                color: #EE6800;
                font-weight: 600;
            }
            p{
                width: 95%;
                font-size: 14px;
            }
        }

        .caixa-principal-box{
            height:auto;
            padding: 0px;


            .overlay{
                .p{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                    p{
                    color: #fff;
                    width: 75%;
                
                    }
                }
            }
        }
    }

    .tabelapeveduto{
        // border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        height: 55vh;
        width: 100%;
        padding: 25px;
        margin-top: 25px;
        background-color: #fafafa;

        .box-tabela{
            width: 50%;
            img{
                width: 100%;
                height: 95%;
            }

            p{
            margin-top: 10px;
            font-family: 'roboto1';
            font-weight: 100;
            color: rgb(70, 70, 70);
        }
        }
        .boxtable-container{
            //  border: 1px solid red;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .baixartabela{
            //  border: 1px solid red;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 85px;

            a{
                text-decoration: none;
                color: rgb(52, 48, 255);
            }


          .link1{
            margin-right: 10px;
            font-size: 32px;
          }
            }
        }

    .table{
            width: 50%;
            margin-left: 50px;
        //   border: 1px solid rgb(4, 0, 255);
             height: 100%;

           td,  th {
                padding: 1px;
                border: none;

           }
        }
    }


    .acessorios{
//        border: 1px solid red;
        height: 90rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .container-principal-acessorios{
       // border: 1px solid red;
        width: 100%;
        height: 125vh;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .foto-principal{
    //   border: 1px solid rgb(0, 255, 157);
        display:flex;
        justify-content: center;
        align-items: center;
        height: 230px;
        width: 45%;
        margin-top: 15px;
        img{
      //  border: 1px solid rgb(0, 255, 157);
        height: 100%;
        width: 100%;
        }
        }

        .container-menor{
      //      border: 1px solid grey;
            width: 95vw;
            display: flex;
            flex-direction:column;
            justify-content: space-around;
            margin-top: 15px;
            #box-alterar{
                margin-top: 15px;
            }

        .mini-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
          
            .box {
              height: 100%;
              width: 30%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 22px;
              background-color: #f4f4f4;
              border-radius: 5px;
              overflow: hidden;
              position: relative;
          
              .img {
                img {
                  width: 100%;
                  height: 100%;
                  transition: transform 0.3s;
                }
              }
          
              &.box-1:hover {
                background-color: rgba(0, 0, 0, 0.781);
                transition: background-color 0.2s;
          
                .img img {
                  transform: scale(1.1);
                }
          
                &::before {
                  content: 'CONEXÃO';
                  position: absolute;
                  top: 35px;
                  left: 50%;
                  transform: translate(-50%);
                  color: #fff;
                  font-size: 24px;
                  z-index: 1;
                }
              }
          
              &.box-2:hover {
                background-color: rgba(0, 0, 0, 0.781);
                transition: background-color 0.2s;
          
                .img img {
                  transform: scale(1.1);
                }
          
                &::before {
                  content: 'CAIXA DE ACESSO';
                  position: absolute;
                  top: 35px;
                  left: 50%;
                  transform: translate(-50%);
                  color: #fff;
                  font-size: 24px;
                  z-index: 1;
                }
              }
          
              &.box-3:hover {
                background-color: rgba(0, 0, 0, 0.781);
                transition: background-color 0.2s;
          
                .img img {
                  transform: scale(1.1);
                }
          
                &::before {
                  content: 'ESPAÇADOR MODULAR';
                  position: absolute;
                  top: 35px;
                  left: 50%;
                  transform: translate(-50%);
                  color: #fff;
                  font-size: 24px;
                  z-index: 1;
                }
              }
          
              &.box-4:hover {
                background-color: rgba(0, 0, 0, 0.781);
                transition: background-color 0.2s;
          
                .img img {
                  transform: scale(1.1);
                }
          
                &::before {
                  content: 'FITA DE ADVERTÊNCIA';
                  position: absolute;
                  top: 35px;
                  left: 50%;
                  transform: translate(-50%);
                  color: #fff;
                  font-size: 24px;
                  z-index: 1;
                }
              }
          
              &.box-5:hover {
                background-color: rgba(0, 0, 0, 0.781);
                transition: background-color 0.2s;
          
                .img img {
                  transform: scale(1.1);
                }
          
                &::before {
                  content: 'TAMPÃO INTERNO';
                  position: absolute;
                  top: 35px;
                  left: 50%;
                  transform: translate(-50%);
                  color: #fff;
                  font-size: 24px;
                  z-index: 1;
                }
              }
          
              &.box-6:hover {
                background-color: rgba(0, 0, 0, 0.781);
                transition: background-color 0.2s;
          
                .img img {
                  transform: scale(1.1);
                }
          
                &::before {
                  content: 'ANEL DE VEDAÇÃO';
                    position: absolute;
                    top: 35px;
                    left: 50%;
                    transform: translate(-50%);
                    color: #fff;
                    font-size: 24px;
                    z-index: 1;
                }
              }
            }
          }
          
       
          
        }
        }
    }
}