@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 1s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
}

@font-face {
  font-family: "fonte1";
  src: url(../fontes/Bison-Bold\(PersonalUse\).ttf);
}
@font-face {
  font-family: "fonte3";
  src: url(../fontes/THEBOLDFONT\ 2022.otf);
}
@font-face {
  font-family: "cinzel1";
  src: url(../fontes/Cinzel-Bold.otf);
}
@font-face {
  font-family: "madeinfinity1";
  src: url(../fontes/MADEINFINITY\ PERSONALUSE-Light.otf);
}
@font-face {
  font-family: "madeinfinity2";
  src: url(../fontes/MADEINFINITY\ PERSONALUSE-Light.otf);
}
@font-face {
  font-family: "roboto1";
  src: url(../fontes/Roboto-CondensedItalic.ttf);
}
@font-face {
  font-family: "roboto2";
  src: url(../fontes/Roboto-Regular.ttf);
}
@font-face {
  font-family: "apple";
  src: url(../fontes/AppleGaramond-Light.ttf);
}
@font-face {
  font-family: "madetommy";
  src: url(../fontes/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: "madetommy2";
  src: url(../fontes/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
}
.navegacao1 {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
  background-color: #063395;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navegacao1 p:first-of-type {
  margin-right: 20px;
}

:root {
  --corfundo: #fd8b33;
  --corhover: #f1a572;
  --corprimaria:#fff;
}

.navegacaoprincipal {
  height: 65px;
  background-color: var(--corfundo);
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 15px;
  align-items: center;
  position: fixed;
  top: 45px;
  width: 100%;
  z-index: 100;
}
.navegacaoprincipal .logo img {
  width: 85%;
}

.navegacaoprincipal ul {
  list-style-type: none;
  padding: 0;
  background-color: var(--corfundo);
}

.navegacaoprincipal ul li {
  display: inline;
  position: relative;
  margin-right: 55px;
}

.navegacaoprincipal ul li a {
  color: var(--corprimaria);
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  transition: background 0.3s;
}

.navegacaoprincipal ul li a:hover {
  background-color: var(--corhover);
}

.navegacaoprincipal ul ul {
  display: block;
  position: absolute;
  left: 0;
  top: 44px;
  opacity: 0;
}

.navegacaoprincipal ul li:hover ul {
  display: block;
  opacity: 1;
}

.navegacaoprincipal ul ul {
  width: 150px;
}

.navegacaoprincipal ul ul li a {
  display: block;
  padding: 5px;
}

.header {
  height: 85vh;
  background-image: url(../IMG/capateste.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.header .container {
  height: 100%;
  width: 65%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .container .slogan {
  width: 35rem;
  height: 25rem;
}
.header .container .slogan h1 {
  font-family: "fonte1";
  font-size: 4.5rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.header .container button {
  height: 60px;
  width: 200px;
  margin-top: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: #EE6800;
  font-size: 14px;
  border: none;
  animation: pulsar 2s infinite;
  color: #fff;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburguer {
  width: 25px;
  height: 3px;
  background-color: var(--corprimaria);
  margin: 5px 0;
}

.confiratambem {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #001749;
}
.confiratambem .title-confira h1 {
  font-family: "madetommy";
  color: #EE6800;
  font-size: 50px;
}
.confiratambem .container-confiratbm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 80%;
}
.confiratambem .container-confiratbm .mini-content {
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confiratambem .container-confiratbm .icone {
  background-color: #00133b;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
}
.confiratambem .container-confiratbm .icone img {
  width: 100px;
}
.confiratambem .container-confiratbm .box {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: #00133b;
  color: #fff;
  box-shadow: 0px 30px 50px -10px #0804f8;
}
.confiratambem .container-confiratbm .box p {
  text-align: center;
}
.confiratambem .container-confiratbm .box a {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.quemsomos {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: 30%;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-color: #001749;
  background-size: 100%;
}
.quemsomos .container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.quemsomos .container-icon .quemsomosicon {
  width: 100%;
  height: 80%;
}
.quemsomos .container-icon .quemsomosicon img {
  width: 100%;
  height: 100%;
}
.quemsomos .quemsomosconteudo {
  width: 65%;
  height: 100%;
}
.quemsomos .quemsomosconteudo .caixatxt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 25px;
}
.quemsomos .quemsomosconteudo .caixatxt .title {
  text-align: center;
  margin-top: 15px;
}
.quemsomos .quemsomosconteudo .caixatxt .title h1 {
  font-size: 50px;
  color: #EE6800;
  font-family: "madetommy";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.quemsomos .quemsomosconteudo .caixatxt .txt {
  height: 325px;
  width: 45vw;
  padding: 25px;
  color: #fff;
}
.quemsomos .quemsomosconteudo .caixatxt .txt p {
  font-size: 18px;
  letter-spacing: 0.1rem;
}
.quemsomos .caixatxt {
  width: 95%;
  height: 50%;
  padding: 25px;
  margin-bottom: 100px;
}

.interacao {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EE6800;
}
.interacao .caixagrande {
  display: flex;
  width: 35%;
}
.interacao .box {
  height: 10rem;
  width: 10rem;
  margin: 30px;
  position: relative;
}
.interacao .box a {
  list-style-type: none;
  height: 100%;
  color: #063395;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.interacao .box a i {
  font-size: 6rem;
}
.interacao .box:hover {
  background-color: #010e2b;
  border-radius: 15px;
}
.interacao .box::after {
  content: attr(data-tooltip);
  position: absolute;
  margin-top: 15px;
  width: 220px;
  height: 35px;
  color: #fff;
  display: none;
  text-align: center;
  line-height: 35px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}
.interacao .box:hover::after {
  display: block;
}

.svg {
  position: relative;
  top: 0px;
  background-color: #001749;
}

.rodape {
  height: 55vh;
  width: 100%;
  background-color: #ee6800;
}
.rodape .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.rodape .container .container-dois {
  font-size: 16px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
}
.rodape .container .container-um {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rodape .container .container-um .box {
  height: 250px;
  padding: 15px;
}
.rodape .container .container-um .box .title h3 {
  font-weight: 400;
  margin-bottom: 20px;
}
.rodape .container .container-um .box p {
  color: #f0f0f0;
  margin-bottom: 5px;
}
.rodape .container .container-um .box p a {
  text-decoration: none;
  color: #d4d4d4;
}
.rodape .container .container-um .box a:hover {
  border-bottom: 1px solid #ffa15a;
}

body[data-aos-easing=new-easing] [data-aos], [data-aos][data-aos][data-aos-easing=new-easing] {
  transition-timing-function: cubic-bezier(0.45, 0.45, 0.95, 0.95);
}

/* Estilos para o menu responsivo */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .menu-toggle {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--corfundo);
    padding: 10px;
  }
  .menu.show {
    display: block;
  }
  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .menu a {
    display: block;
    padding: 5px;
  }
  .header {
    height: 85vh;
    background-image: url(../IMG/responsivo/capainicial.png);
    width: 100%;
  }
  .header .container {
    height: 100%;
    width: 100%;
  }
  .header .container button {
    height: 85px;
    width: 230px;
    font-size: 16px;
  }
  .interacao {
    width: 100%;
    height: 750px;
  }
  .interacao .caixagrande {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .svg {
    position: relative;
    top: 25px;
  }
  .rodape {
    height: 95vh;
  }
  .rodape .container .container-um {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .rodape .container .container-um .box {
    height: 240px;
    padding: 15px;
  }
}
.container-nossalinha2 {
  width: 100%;
  position: relative;
  top: 85px;
  height: 170vh;
  background-color: #001749;
}

.caixa-principal-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 35px;
  width: 100%;
  height: 160vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.caixa-principal-box .title {
  width: 100%;
  text-align: center;
}
.caixa-principal-box .title h1 {
  font-size: 3rem;
  color: #EE6800;
  font-family: "madetommy";
}

.container-nossalinha2 .sozinho {
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: space-around;
  align-items: center;
}

.container-nossalinha2 .image-container {
  position: relative;
  overflow: hidden;
  width: 55%;
  height: 45%;
}

.sozinho .image-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  padding: 15px;
}

.container-nossalinha2 .image-container img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.container-nossalinha2 .image-container:hover img {
  filter: brightness(40%);
  transform: scale(1.1);
  border-radius: 5px;
}

.container-nossalinha2 .image-container:hover .overlay {
  display: block;
}

.container-nossalinha2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 20, 63, 0.662745098);
  text-align: center;
  box-sizing: border-box;
  padding-top: 30%;
}

.container-nossalinha2 .overlay h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.container-nossalinha2 .overlay a {
  font-size: 18px;
  color: #ee6800;
  text-decoration: none;
  border-bottom: 1px solid #ee6800;
}

.box-containerPeveduto {
  position: relative;
  top: 110px;
  height: 100vh;
}
.box-containerPeveduto .container-nossalinha2 {
  width: 100%;
  position: relative;
  top: 85px;
  height: 170vh;
  background-color: #001749;
}
.box-containerPeveduto .caixa-principal-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 35px;
  width: 100%;
  height: 160vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.box-containerPeveduto .caixa-principal-box .title {
  width: 100%;
  text-align: center;
}
.box-containerPeveduto .caixa-principal-box .title h1 {
  font-size: 3rem;
  color: #EE6800;
  font-family: "madetommy";
}
.box-containerPeveduto .container-nossalinha-peveduto .sozinho {
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: space-around;
  align-items: center;
}
.box-containerPeveduto .container-nossalinha-peveduto .image-container {
  position: relative;
  overflow: hidden;
  width: 55%;
  height: 45%;
}
.box-containerPeveduto .sozinho .image-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  padding: 15px;
}
.box-containerPeveduto .container-nossalinha-peveduto .image-container img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.box-containerPeveduto .container-nossalinha-peveduto .image-container:hover img {
  filter: brightness(40%);
  transform: scale(1.1);
  border-radius: 5px;
}
.box-containerPeveduto .container-nossalinha-peveduto .image-container:hover .overlay {
  display: block;
}
.box-containerPeveduto .container-nossalinha-peveduto .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 20, 63, 0.662745098);
  text-align: center;
  box-sizing: border-box;
  padding-top: 30%;
}
.box-containerPeveduto .container-nossalinha-peveduto.overlay h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.box-containerPeveduto .container-nossalinha-peveduto .overlay a {
  font-size: 18px;
  color: #ee6800;
  text-decoration: none;
  border-bottom: 1px solid #ee6800;
}
.box-containerPeveduto .caixatitleProduto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-image: url(../IMG/capaproduto.jpg);
  background-size: cover;
}
.box-containerPeveduto .caixatitleProduto h1 {
  color: #fff;
  text-shadow: -5px 2px 9px black;
  font-size: 3rem;
}
.box-containerPeveduto .apresentacao {
  width: 100%;
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001c53;
}
.box-containerPeveduto .apresentacao .card-body {
  color: #fff;
}
.box-containerPeveduto .apresentacao .accordion {
  width: 50%;
}
.box-containerPeveduto .apresentacao .card {
  border: none;
  background-color: #001c53;
}
.box-containerPeveduto .apresentacao .card-header {
  background: transparent;
  border: none;
}
.box-containerPeveduto .apresentacao .custom-button {
  background-color: blue;
  color: white;
}
.box-containerPeveduto .apresentacao .custom-button:hover {
  background-color: blue;
  color: white;
}
.box-containerPeveduto .apresentacao .custom-button:focus {
  background-color: blue;
  color: white;
}
.box-containerPeveduto .pevehd {
  height: 100vh;
  padding: 25px;
  background-color: #001749;
}
.box-containerPeveduto .pevehd .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.box-containerPeveduto .pevehd .title h1 {
  color: #EE6800;
  font-family: "madetommy";
}
.box-containerPeveduto .pevehd .title p {
  width: 95%;
  font-size: 16px;
  color: #fff;
}
.box-containerPeveduto .pevehd .caixa-principal-box {
  height: auto;
  padding: 0px;
}
.box-containerPeveduto .pevehd .caixa-principal-box .overlay h1 {
  color: #fff;
}
.box-containerPeveduto .pevehd .caixa-principal-box .overlay .p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.box-containerPeveduto .pevehd .caixa-principal-box .overlay .p p {
  color: #fff;
  width: 75%;
}
.box-containerPeveduto .tabelapeveduto {
  display: flex;
  justify-content: space-evenly;
  height: 55vh;
  width: 100%;
  padding: 25px;
  background-color: rgb(0, 20, 63);
}
.box-containerPeveduto .tabelapeveduto .box-tabela {
  width: 50%;
}
.box-containerPeveduto .tabelapeveduto .box-tabela img {
  width: 100%;
  height: 95%;
}
.box-containerPeveduto .tabelapeveduto .box-tabela p {
  margin-top: 10px;
  font-family: "roboto1";
  font-weight: 100;
  color: #EE6800;
}
.box-containerPeveduto .tabelapeveduto .boxtable-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-containerPeveduto .tabelapeveduto .boxtable-container .baixartabela {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 85px;
}
.box-containerPeveduto .tabelapeveduto .boxtable-container .baixartabela .baixar {
  text-decoration: none;
  color: #EE6800;
}
.box-containerPeveduto .tabelapeveduto .boxtable-container .baixartabela .baixar:hover {
  border-bottom: 1px solid #EE6800;
}
.box-containerPeveduto .tabelapeveduto .boxtable-container .baixartabela .link1 {
  margin-right: 10px;
  font-size: 32px;
}
.box-containerPeveduto .tabelapeveduto .table {
  width: 50%;
  margin-left: 50px;
  height: 100%;
}
.box-containerPeveduto .tabelapeveduto .table td, .box-containerPeveduto .tabelapeveduto .table th {
  padding: 1px;
  border: none;
  color: #fff;
}
.box-containerPeveduto .acessorios {
  height: 90rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #001749;
}
.box-containerPeveduto .acessorios .title h1 {
  font-family: "madetommy";
  font-size: 3rem;
  color: #EE6800;
}
.box-containerPeveduto .acessorios .container-principal-acessorios {
  width: 100%;
  height: 125vh;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8rem;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .foto-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 45%;
  margin-top: 15px;
  margin-bottom: 2rem;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .foto-principal img {
  height: 100%;
  width: 100%;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor #box-alterar {
  margin-top: 15px;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  background-color: #001e5f;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box .img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-1:hover {
  background-color: #00143f;
  transition: background-color 0.2s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-1:hover .img img {
  transform: scale(1.1);
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-1:hover::before {
  content: "CONEXÃO";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-2:hover {
  background-color: #00143f;
  transition: background-color 0.2s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-2:hover .img img {
  transform: scale(1.1);
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-2:hover::before {
  content: "CAIXA DE ACESSO";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-3:hover {
  background-color: #00143f;
  transition: background-color 0.2s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-3:hover .img img {
  transform: scale(1.1);
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-3:hover::before {
  content: "ESPAÇADOR MODULAR";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-4:hover {
  background-color: #00143f;
  transition: background-color 0.2s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-4:hover .img img {
  transform: scale(1.1);
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-4:hover::before {
  content: "FITA DE ADVERTÊNCIA";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-5:hover {
  background-color: #00143f;
  transition: background-color 0.2s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-5:hover .img img {
  transform: scale(1.1);
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-5:hover::before {
  content: "TAMPÃO INTERNO";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-6:hover {
  background-color: #00143f;
  transition: background-color 0.2s;
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-6:hover .img img {
  transform: scale(1.1);
}
.box-containerPeveduto .acessorios .container-principal-acessorios .container-menor .mini-container .box.box-6:hover::before {
  content: "ANEL DE VEDAÇÃO";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  z-index: 1;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}/*# sourceMappingURL=style.css.map */