* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 1s ease-in-out;
}

body {
  background-color: #f0f0f0;
}

@font-face {
  font-family: "fonte1";
  src: url(../fontes/Bison-Bold\(PersonalUse\).ttf);
}
@font-face {
  font-family: "fonte3";
  src: url(../fontes/THEBOLDFONT\ 2022.otf);
}
@font-face {
  font-family: "cinzel1";
  src: url(../fontes/Cinzel-Bold.otf);
}
@font-face {
  font-family: "apple";
  src: url(../fontes/AppleGaramond-Light.ttf);
}
.navegacao1 {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
  background-color: #063395;
  color: #fff;
}
.navegacao1 p:first-of-type {
  margin-right: 20px;
}

:root {
  --corfundo: #fd8b33;
  --corhover: #f1a572;
  --corprimaria:#fff;
}

.navegacaoprincipal {
  height: 65px;
  background-color: var(--corfundo);
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 15px;
  align-items: center;
}
.navegacaoprincipal .logo img {
  width: 85%;
}

.navegacaoprincipal ul {
  list-style-type: none;
  padding: 0;
  background-color: var(--corfundo);
}

.navegacaoprincipal ul li {
  display: inline;
  position: relative;
  margin-right: 55px;
}

.navegacaoprincipal ul li a {
  color: var(--corprimaria);
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  transition: background 0.3s;
}

.navegacaoprincipal ul li a:hover {
  background-color: var(--corhover);
}

.navegacaoprincipal ul ul {
  display: block;
  position: absolute;
  left: 0;
  top: 44px;
  opacity: 0;
}

.navegacaoprincipal ul li:hover ul {
  display: block;
  opacity: 1;
}

.navegacaoprincipal ul ul {
  width: 150px;
}

.navegacaoprincipal ul ul li a {
  display: block;
  padding: 5px;
}

.header {
  height: 85vh;
  background-image: url(../IMG/capateste.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.header .container {
  height: 100%;
  width: 65%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .container .slogan {
  width: 35rem;
  height: 25rem;
}
.header .container .slogan h1 {
  font-family: "fonte1";
  font-size: 4.5rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.header .container button {
  height: 60px;
  width: 200px;
  margin-top: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: #EE6800;
  color: #fff;
  font-size: 14px;
  border: none;
  animation: pulsar 2s infinite;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburguer {
  width: 25px;
  height: 3px;
  background-color: var(--corprimaria);
  margin: 5px 0;
}

.quemsomos {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../IMG/capaquemsomos2.png);
  background-size: 30%;
  background-repeat: no-repeat;
}
.quemsomos .caixatxt {
  width: 45%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}
.quemsomos .caixatxt .title {
  text-align: center;
  margin-top: 15px;
}
.quemsomos .caixatxt .title h1 {
  font-size: 65px;
  color: #EE6800;
  font-family: "fonte1";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.quemsomos .caixatxt .txt {
  height: 400px;
}
.quemsomos .caixatxt .txt p {
  font-size: 18px;
}

.interacao {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EE6800;
}
.interacao .caixagrande {
  display: flex;
  width: 35%;
}
.interacao .box {
  height: 10rem;
  width: 10rem;
  margin: 30px;
}
.interacao .box a {
  list-style-type: none;
  height: 100%;
  color: #063395;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.interacao .box a i {
  font-size: 6rem;
}
.interacao .box:hover {
  background-color: #010e2b;
  border-radius: 15px;
}

.interacao .box {
  position: relative;
}

.interacao .box::after {
  content: attr(data-tooltip);
  position: absolute;
  margin-top: 15px;
  width: 220px;
  height: 35px;
  background-color: #8f3e00;
  color: #fff;
  display: none;
  text-align: center;
  line-height: 35px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden; /* Adicionado overflow */
}

.interacao .box:hover::after {
  display: block;
}

.confiratambem {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../IMG/confiratambem2.png);
}
.confiratambem .container {
  height: 75%;
  width: 75%;
}
.confiratambem .container #carouselExampleControls {
  height: 100%;
  width: 100%;
}
.confiratambem .container #carouselExampleControls img {
  width: 100%;
  height: 698px;
}

.svg {
  position: relative;
  top: 25px;
}

.rodape {
  height: 55vh;
  width: 100%;
  background-color: #ee6800;
}
.rodape .container {
  width: 1000%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.rodape .container .container-dois {
  font-size: 16px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
}
.rodape .container .container-um {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.rodape .container .container-um .box {
  height: 250px;
  padding: 15px;
}
.rodape .container .container-um .box .title h3 {
  font-weight: 400;
  margin-bottom: 20px;
}
.rodape .container .container-um .box p {
  color: #f0f0f0;
  margin-bottom: 5px;
}
.rodape .container .container-um .box p a {
  text-decoration: none;
  color: #d4d4d4;
}
.rodape .container .container-um .box a:hover {
  color: #010e2b;
}
.rodape .container .container-um .box a:hover::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #063395;
  animation: link 0.5s forwards;
}
@keyframes link {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

body[data-aos-easing=new-easing] [data-aos], [data-aos][data-aos][data-aos-easing=new-easing] {
  transition-timing-function: cubic-bezier(0.45, 0.45, 0.95, 0.95);
}

/* Estilos para o menu responsivo */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .menu-toggle {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--corfundo);
    padding: 10px;
  }
  .menu.show {
    display: block;
  }
  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .menu a {
    display: block;
    padding: 5px;
  }
  .header {
    height: 85vh;
    background-image: url(../IMG/responsivo/capainicial.png);
    width: 100%;
  }
  .header .container {
    height: 100%;
    width: 100%;
  }
  .header .container button {
    height: 85px;
    width: 230px;
    font-size: 16px;
  }
  .confiratambem {
    height: 120vh;
    background-image: url(../IMG/cftb.png);
    background-repeat: no-repeat;
  }
  .confiratambem .container {
    height: 75%;
    width: 100%;
  }
  .confiratambem .carousel-control-next-icon {
    position: relative;
    top: -112px;
    width: 25px;
    padding: 15px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.507);
  }
  .confiratambem .carousel-control-prev-icon {
    position: relative;
    top: -112px;
    width: 25px;
    padding: 15px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.507);
  }
  .interacao {
    width: 100%;
    height: 750px;
  }
  .interacao .caixagrande {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .quemsomos {
    height: 72vh;
    background-image: url(../IMG/quemsomos768.png);
    background-size: 100%;
  }
  .quemsomos .caixatxt {
    width: 95%;
    height: 50%;
    padding: 25px;
    margin-bottom: 100px;
  }
  .svg {
    position: relative;
    top: 25px;
  }
  .rodape {
    height: 95vh;
  }
  .rodape .container .container-um {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .rodape .container .container-um .box {
    height: 240px;
    padding: 15px;
  }
}/*# sourceMappingURL=style.css.map */